In [1]:
import pandas as pd

In [4]:
df_train = pd.read_csv('../data/04_feature/tickets_train_data_v1.csv')

In [48]:
od_airline_dbd_price_list = (
    df_train
    .groupby(
        ["origin", "destination", "airline", "days_before_departure"],
        as_index=False
    )
    .agg(
        price_list=("price", list),
        per_dbd_mean_price=("price", "mean"),
        )
    .sort_values("airline", ascending=False)
)
od_airline_dbd_price_list

,origin,destination,airline,days_before_departure,price_list,per_dbd_mean_price
6919,FCO,CDG,Vueling,124,"[70.0, 98.0, 73.0, 71.0, 63.0]",75.000000
4587,CDG,FCO,Vueling,93,"[127.0, 127.0, 132.0, 86.0, 80.0, 90.0, 79.0, ...",115.636364
4580,CDG,FCO,Vueling,86,"[86.0, 80.0, 90.0, 112.0, 116.0, 128.0, 107.0,...",104.111111
4581,CDG,FCO,Vueling,87,"[100.0, 127.0, 107.0, 144.0, 118.0, 72.0, 82.0...",110.666667
4582,CDG,FCO,Vueling,88,"[133.0, 106.0, 107.0, 126.0, 127.0, 116.0, 80....",109.666667
...,...,...,...,...,...,...
715,ATH,CDG,Aegean,106,"[141.0, 116.0, 116.0, 141.0, 116.0, 116.0, 116...",128.450000
714,ATH,CDG,Aegean,105,"[141.0, 141.0, 116.0, 141.0, 116.0, 116.0, 141...",118.952381
713,ATH,CDG,Aegean,104,"[116.0, 116.0, 141.0, 141.0, 116.0, 116.0, 116...",118.523810
712,ATH,CDG,Aegean,103,"[116.0, 116.0, 116.0, 141.0, 141.0, 116.0, 141...",122.894737
0,AMS,CDG,Aegean,5,[194.0],194.000000

In [51]:
one_airline_example = od_airline_dbd_price_list[od_airline_dbd_price_list["airline"]=="Vueling"]
one_airline_example

,origin,destination,airline,days_before_departure,price_list,per_dbd_mean_price
6919,FCO,CDG,Vueling,124,"[70.0, 98.0, 73.0, 71.0, 63.0]",75.000000
4587,CDG,FCO,Vueling,93,"[127.0, 127.0, 132.0, 86.0, 80.0, 90.0, 79.0, ...",115.636364
4580,CDG,FCO,Vueling,86,"[86.0, 80.0, 90.0, 112.0, 116.0, 128.0, 107.0,...",104.111111
4581,CDG,FCO,Vueling,87,"[100.0, 127.0, 107.0, 144.0, 118.0, 72.0, 82.0...",110.666667
4582,CDG,FCO,Vueling,88,"[133.0, 106.0, 107.0, 126.0, 127.0, 116.0, 80....",109.666667
...,...,...,...,...,...,...
4516,CDG,FCO,Vueling,22,"[100.0, 100.0, 114.0, 108.0, 116.0, 104.0, 104...",104.500000
3745,CDG,ATH,Vueling,106,"[98.0, 90.0]",94.000000
3744,CDG,ATH,Vueling,105,"[103.0, 109.0, 108.0, 98.0, 90.0]",101.600000
3743,CDG,ATH,Vueling,104,"[105.0, 103.0, 109.0, 108.0]",106.250000
4518,CDG,FCO,Vueling,24,"[114.0, 108.0, 113.0, 100.0, 84.0, 125.0, 108....",109.062500

In [60]:
# Assuming your DataFrame is called df
import matplotlib.pyplot as plt
plt.figure(figsize=(10,6))
plt.line(one_airline_example['days_before_departure'], one_airline_example['per_dbd_mean_price'], alpha=0.6)
plt.xlabel('Days Before Departure')
plt.ylabel('Mean Price')
plt.title('Mean Price vs Days Before Departure')
plt.grid(True)
plt.show()

AttributeError: module 'matplotlib.pyplot' has no attribute 'line'

In [ ]:
od_airline_dft = (
    df_train
    .groupby(
        ["origin", "destination", "airline"],
        as_index=False
    )
    .agg(
        price_list=("price", list),
        per_dbd_mean_price=("price", "mean"),
        )
    .sort_values("days_before_departure", ascending=False)
)

In [37]:
od_airline_dbd_price_list

,origin,destination,airline,days_before_departure,price_list,per_dbd_mean_price
4642,CDG,FCO,Vueling,149,[100.0],100.000000
439,AMS,CDG,KLM,149,"[153.0, 153.0, 153.0]",153.000000
7846,MAD,CDG,ITA,149,[145.0],145.000000
3588,CDG,ATH,Scandinavian Airlines,149,[113.0],113.000000
7254,LHR,CDG,British Airways,149,"[96.0, 77.0, 73.0]",82.000000
...,...,...,...,...,...,...
5325,CDG,MAD,British Airways,1,"[190.0, 190.0]",190.000000
7521,MAD,CDG,Air France,1,"[186.0, 186.0, 120.0, 120.0, 186.0, 186.0, 186.0]",167.142857
6564,FCO,CDG,Scandinavian Airlines,1,"[105.0, 105.0, 127.0, 105.0]",110.500000
610,ATH,CDG,Aegean,1,"[184.0, 141.0, 184.0, 141.0, 236.0, 141.0]",171.166667
4643,CDG,LHR,Aegean,1,"[195.0, 114.0]",154.500000

In [38]:
df_perc = df_train.merge(
    od_airline_dbd_price_list[
        ["origin", "destination", "airline", "days_before_departure", "price_list", "per_dbd_mean_price"]
    ],
    on=["origin", "destination", "airline", "days_before_departure"],
    how="left"
)
df_perc

,origin,destination,days_before_departure,airline,price,stops,flight_duration,departure_is_weekend,departure_week_of_year,departure_month,...,cyclic_arrival_time_hour,cyclic_arrival_time_minute,origin_country,destination_country,origin_departure_holidays,destination_departure_holidays,destination_is_holiday_next_7days,origin_is_holiday_next_7days,price_list,per_dbd_mean_price
0,CDG,AMS,12,Air France,117.0,1,495,False,3,1,...,-0.965926,-0.500000,FR,NL,NaN,NaN,False,False,"[117.0, 117.0, 125.0, 281.0, 177.0, 178.0, 175...",198.966667
1,CDG,ATH,105,Scandinavian Airlines,113.0,1,580,True,16,4,...,-0.866025,1.000000,FR,GR,NaN,NaN,False,False,"[113.0, 143.0, 135.0, 113.0, 113.0, 113.0, 113...",117.727273
2,CDG,ATH,104,TAROM,108.0,1,1500,False,16,4,...,-1.000000,0.866025,FR,GR,NaN,NaN,False,False,"[108.0, 108.0]",108.000000
3,CDG,ATH,104,Aegean,241.0,0,190,False,16,4,...,-0.707107,1.000000,FR,GR,NaN,NaN,False,False,"[241.0, 214.0, 465.0, 465.0, 241.0, 235.0, 283...",225.833333
4,CDG,ATH,104,SKY express,172.0,0,190,False,16,4,...,-1.000000,0.500000,FR,GR,NaN,NaN,False,False,"[172.0, 172.0, 139.0, 105.0, 139.0, 123.0, 105...",155.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91205,MAD,CDG,43,Air France,91.0,0,130,False,10,3,...,-0.500000,-1.000000,ES,FR,NaN,NaN,False,False,"[79.0, 79.0, 79.0, 79.0, 79.0, 91.0, 79.0, 79....",84.440000
91206,MAD,CDG,43,KLM,82.0,1,455,False,10,3,...,-0.866025,-0.866025,ES,FR,NaN,NaN,False,False,"[82.0, 97.0]",89.500000
91207,MAD,CDG,46,Iberia,106.0,0,130,True,10,3,...,0.258819,-0.500000,ES,FR,NaN,NaN,False,False,"[63.0, 50.0, 63.0, 50.0, 63.0, 63.0, 50.0, 59....",68.333333
91208,MAD,CDG,43,KLM,97.0,1,315,False,10,3,...,-0.866025,1.000000,ES,FR,NaN,NaN,False,False,"[82.0, 97.0]",89.500000
91209,MAD,CDG,44,Iberia,63.0,0,130,False,10,3,...,-0.258819,-0.866025,ES,FR,NaN,NaN,False,False,"[69.0, 50.0, 50.0, 50.0, 63.0, 69.0, 50.0, 50....",65.000000

In [39]:
import numpy as np

def dbd_percentile(price, price_list):
    """Compute percentile of price within the reference price list."""
    prices = np.asarray(price_list)
    return (prices <= price).mean()  # fraction of prices <= current price

df_perc["dbd_percentile"] = df_perc.apply(
    lambda r: dbd_percentile(r.price, r.price_list) if isinstance(r.price_list, list) else np.nan,
    axis=1
)

In [40]:
df["n_prices"] = df["price_list"].apply(lambda x: len(x) if isinstance(x, list) else 0)
df.loc[df.n_prices < 3, "dbd_percentile"] = np.nan

,origin,destination,days_before_departure,airline,price,stops,flight_duration,departure_is_weekend,departure_week_of_year,departure_month,...,cyclic_arrival_time_minute,origin_country,destination_country,origin_departure_holidays,destination_departure_holidays,destination_is_holiday_next_7days,origin_is_holiday_next_7days,price_list,per_dbd_mean_price,dbd_percentile
0,CDG,AMS,12,Air France,117.0,1,495,False,3,1,...,-0.500000,FR,NL,NaN,NaN,False,False,"[117.0, 117.0, 125.0, 281.0, 177.0, 178.0, 175...",198.966667,0.100000
1,CDG,ATH,105,Scandinavian Airlines,113.0,1,580,True,16,4,...,1.000000,FR,GR,NaN,NaN,False,False,"[113.0, 143.0, 135.0, 113.0, 113.0, 113.0, 113...",117.727273,0.818182
2,CDG,ATH,104,TAROM,108.0,1,1500,False,16,4,...,0.866025,FR,GR,NaN,NaN,False,False,"[108.0, 108.0]",108.000000,1.000000
3,CDG,ATH,104,Aegean,241.0,0,190,False,16,4,...,1.000000,FR,GR,NaN,NaN,False,False,"[241.0, 214.0, 465.0, 465.0, 241.0, 235.0, 283...",225.833333,0.833333
4,CDG,ATH,104,SKY express,172.0,0,190,False,16,4,...,0.500000,FR,GR,NaN,NaN,False,False,"[172.0, 172.0, 139.0, 105.0, 139.0, 123.0, 105...",155.750000,0.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91205,MAD,CDG,43,Air France,91.0,0,130,False,10,3,...,-1.000000,ES,FR,NaN,NaN,False,False,"[79.0, 79.0, 79.0, 79.0, 79.0, 91.0, 79.0, 79....",84.440000,0.960000
91206,MAD,CDG,43,KLM,82.0,1,455,False,10,3,...,-0.866025,ES,FR,NaN,NaN,False,False,"[82.0, 97.0]",89.500000,0.500000
91207,MAD,CDG,46,Iberia,106.0,0,130,True,10,3,...,-0.500000,ES,FR,NaN,NaN,False,False,"[63.0, 50.0, 63.0, 50.0, 63.0, 63.0, 50.0, 59....",68.333333,0.974359
91208,MAD,CDG,43,KLM,97.0,1,315,False,10,3,...,1.000000,ES,FR,NaN,NaN,False,False,"[82.0, 97.0]",89.500000,1.000000
91209,MAD,CDG,44,Iberia,63.0,0,130,False,10,3,...,-0.866025,ES,FR,NaN,NaN,False,False,"[69.0, 50.0, 50.0, 50.0, 63.0, 69.0, 50.0, 50....",65.000000,0.638889

In [46]:
od_airline_dbd_quantiles = (
    df_train
    .groupby(["origin", "destination", "airline", "days_before_departure"], as_index=False)
    .agg(
        p10=("price", lambda x: np.percentile(x, 10)),
        p50=("price", lambda x: np.percentile(x, 50)),
        p90=("price", lambda x: np.percentile(x, 90))
    )
)
od_airline_dbd_quantiles

,origin,destination,airline,days_before_departure,p10,p50,p90
0,AMS,CDG,Aegean,5,194.0,194.0,194.0
1,AMS,CDG,Aegean,8,194.0,194.0,194.0
2,AMS,CDG,Aegean,10,194.0,194.0,194.0
3,AMS,CDG,Aegean,11,194.0,194.0,194.0
4,AMS,CDG,Air Europa,11,128.2,162.5,187.0
...,...,...,...,...,...,...,...
8380,MAD,CDG,Smartwings,137,164.0,164.0,164.0
8381,MAD,CDG,Smartwings,139,164.0,164.0,164.0
8382,MAD,CDG,Smartwings,143,148.0,148.0,148.0
8383,MAD,CDG,Smartwings,144,148.0,148.0,148.0
8384,MAD,CDG,Smartwings,146,148.0,148.0,148.0