In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/04_feature/tickets_train_data.csv")

In [6]:
df.columns

Index(['origin', 'destination', 'days_before_departure', 'airline', 'price',
       'stops', 'flight_duration', 'departure_day_of_week',
       'departure_is_weekend', 'departure_time_hour', 'departure_time_minute',
       'arrival_time_hour', 'arrival_time_minute', 'origin_country',
       'destination_country', 'origin_departure_holidays',
       'destination_departure_holidays'],
      dtype='object')

In [7]:
df

,origin,destination,days_before_departure,airline,price,stops,flight_duration,departure_day_of_week,departure_is_weekend,departure_time_hour,departure_time_minute,arrival_time_hour,arrival_time_minute,origin_country,destination_country,origin_departure_holidays,destination_departure_holidays
0,CDG,AMS,12,Air France,117.0,1,495,3,False,9,20,17,35,FR,NL,NaN,NaN
1,CDG,ATH,105,Scandinavian Airlines,113.0,1,580,5,True,9,35,20,15,FR,GR,NaN,NaN
2,CDG,ATH,104,TAROM,108.0,1,1500,4,False,16,20,18,20,FR,GR,NaN,NaN
3,CDG,ATH,104,Aegean,241.0,0,190,4,False,11,5,15,15,FR,GR,NaN,NaN
4,CDG,ATH,104,SKY express,172.0,0,190,4,False,14,15,18,25,FR,GR,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71505,MAD,CDG,45,Iberia,47.0,0,130,0,False,21,40,23,50,ES,FR,NaN,NaN
71506,MAD,CDG,44,Air France,118.0,0,140,6,True,6,0,8,20,ES,FR,NaN,NaN
71507,MAD,CDG,44,Air France,131.0,0,130,6,True,16,25,18,35,ES,FR,NaN,NaN
71508,MAD,CDG,46,Iberia,47.0,0,130,1,False,15,45,17,55,ES,FR,NaN,NaN
71509,MAD,CDG,44,Iberia,98.0,0,130,6,True,21,40,23,50,ES,FR,NaN,NaN