In [16]:
import pandas as pd

In [20]:
df = pd.read_csv("../data/02_intermediate/sampled_dataset.csv")
df

,origin,destination,departure_date,query_date,days_before_departure,airline,price,currency,stops,flight_duration,cabin,offer_rank,departure_time,arrival_time,source
0,CDG,AMS,2026-01-31,2026-01-03,28,Air France,145.0,EUR,0,80,ECONOMY,2,"12:35 PM on Sat, Jan 31","1:55 PM on Sat, Jan 31",google_flights
1,CDG,AMS,2026-02-01,2026-01-03,29,Air France,145.0,EUR,0,80,ECONOMY,1,"2:20 PM on Sun, Feb 1","3:40 PM on Sun, Feb 1",google_flights
2,CDG,AMS,2026-02-01,2026-01-03,29,Air France,145.0,EUR,0,85,ECONOMY,2,"4:55 PM on Sun, Feb 1","6:20 PM on Sun, Feb 1",google_flights
3,CDG,AMS,2026-02-02,2026-01-03,30,Air France,145.0,EUR,0,80,ECONOMY,3,"12:35 PM on Mon, Feb 2","1:55 PM on Mon, Feb 2",google_flights
4,CDG,AMS,2026-02-03,2026-01-03,31,KLM,170.0,EUR,0,85,ECONOMY,4,"9:40 AM on Tue, Feb 3","11:05 AM on Tue, Feb 3",google_flights
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56893,FCO,CDG,2026-05-30,2026-01-30,120,ITA,145.0,EUR,0,130,ECONOMY,1,"9:30 PM on Sat, May 30","11:40 PM on Sat, May 30",google_flights
56894,FCO,CDG,2026-05-31,2026-01-30,121,ITA,109.0,EUR,0,130,ECONOMY,2,"9:30 PM on Sun, May 31","11:40 PM on Sun, May 31",google_flights
56895,FCO,CDG,2026-05-31,2026-01-30,121,ITA,145.0,EUR,0,130,ECONOMY,3,"8:35 AM on Sun, May 31","10:45 AM on Sun, May 31",google_flights
56896,FCO,CDG,2026-05-31,2026-01-30,121,ITA,145.0,EUR,0,130,ECONOMY,4,"3:10 PM on Sun, May 31","5:20 PM on Sun, May 31",google_flights
56897,FCO,CDG,2026-05-31,2026-01-30,121,ITA,152.0,EUR,0,135,ECONOMY,5,"11:00 AM on Sun, May 31","1:15 PM on Sun, May 31",google_flights

In [21]:
keys = ['origin', 'destination', 'airline', 'departure_time', 'departure_date', 'days_before_departure']
df = df.sort_values('price').drop_duplicates(subset=keys)
df['todays_price'] = df['price']
for i in range(1, 8):
    future_data = df[keys + ['price']].copy()
    future_data['days_before_departure'] = future_data['days_before_departure'] + i
    # Rename for the merge
    future_data = future_data.rename(columns={'price': f'price_{i}'})
    # Merge efficiently
    df = pd.merge(
        df,
        future_data,
        on=keys,
        how='left'
    )
# 6. Final Selection
# Select your features + targets
target_cols = ['todays_price'] + [f'price_{i}' for i in range(1, 8)]
final_df = df[['origin', 'destination', 'departure_date', 'days_before_departure'] + target_cols]

In [22]:
final_df

,origin,destination,departure_date,days_before_departure,todays_price,price_1,price_2,price_3,price_4,price_5,price_6,price_7
0,ATH,CDG,2026-02-10,29,44.0,62.0,70.0,98.0,98.0,NaN,98.0,NaN
1,ATH,CDG,2026-03-28,73,45.0,51.0,52.0,NaN,61.0,NaN,52.0,52.0
2,ATH,CDG,2026-02-23,49,45.0,63.0,NaN,63.0,63.0,NaN,NaN,73.0
3,ATH,CDG,2026-02-18,46,45.0,45.0,63.0,63.0,NaN,63.0,63.0,NaN
4,ATH,CDG,2026-02-18,35,45.0,77.0,77.0,NaN,77.0,NaN,52.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...
56893,CDG,MAD,2026-02-01,6,449.0,NaN,NaN,NaN,466.0,NaN,NaN,NaN
56894,CDG,MAD,2026-02-01,2,466.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56895,CDG,AMS,2026-02-02,4,467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56896,AMS,CDG,2026-01-31,2,505.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56897,AMS,CDG,2026-01-27,2,505.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df

,origin,destination,departure_date,query_date,days_before_departure,airline,price,currency,stops,flight_duration,...,arrival_time,source,todays_price,price_1,price_2,price_3,price_4,price_5,price_6,price_7
0,ATH,CDG,2026-02-10,2026-01-12,29,Aegean,44.0,EUR,0,215,...,"7:35 PM on Tue, Feb 10",google_flights,44.0,62.0,70.0,98.0,98.0,NaN,98.0,NaN
1,ATH,CDG,2026-03-28,2026-01-14,73,SKY express,45.0,EUR,0,215,...,"1:15 PM on Sat, Mar 28",google_flights,45.0,51.0,52.0,NaN,61.0,NaN,52.0,52.0
2,ATH,CDG,2026-02-23,2026-01-05,49,SKY express,45.0,EUR,0,215,...,"1:15 PM on Mon, Feb 23",google_flights,45.0,63.0,NaN,63.0,63.0,NaN,NaN,73.0
3,ATH,CDG,2026-02-18,2026-01-03,46,SKY express,45.0,EUR,0,215,...,"1:15 PM on Wed, Feb 18",google_flights,45.0,45.0,63.0,63.0,NaN,63.0,63.0,NaN
4,ATH,CDG,2026-02-18,2026-01-14,35,SKY express,45.0,EUR,0,215,...,"1:15 PM on Wed, Feb 18",google_flights,45.0,77.0,77.0,NaN,77.0,NaN,52.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56893,CDG,MAD,2026-02-01,2026-01-26,6,Iberia,449.0,EUR,0,130,...,"2:55 PM on Sun, Feb 1",google_flights,449.0,NaN,NaN,NaN,466.0,NaN,NaN,NaN
56894,CDG,MAD,2026-02-01,2026-01-30,2,Iberia,466.0,EUR,0,130,...,"2:55 PM on Sun, Feb 1",google_flights,466.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56895,CDG,AMS,2026-02-02,2026-01-29,4,Air France,467.0,EUR,0,80,...,"1:55 PM on Mon, Feb 2",google_flights,467.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56896,AMS,CDG,2026-01-31,2026-01-29,2,KLM,505.0,EUR,0,75,...,"8:10 AM on Sat, Jan 31",google_flights,505.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56897,AMS,CDG,2026-01-27,2026-01-25,2,Air France,505.0,EUR,0,80,...,"4:15 PM on Tue, Jan 27",google_flights,505.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
target_cols = ['price_1', 'price_2', 'price_3', 'price_4', 'price_5', 'price_6', 'price_7']

# 2. Count non-null values row-by-row
# notna() turns values to True(1) or False(0). sum(axis=1) sums them horizontally.
valid_target_count = df[target_cols].notna().sum(axis=1)

# 3. Filter: Keep rows where the count is >= 5
df_clean = df[valid_target_count >= 5].copy()

In [26]:
df_clean

,origin,destination,departure_date,query_date,days_before_departure,airline,price,currency,stops,flight_duration,...,arrival_time,source,todays_price,price_1,price_2,price_3,price_4,price_5,price_6,price_7
0,ATH,CDG,2026-02-10,2026-01-12,29,Aegean,44.0,EUR,0,215,...,"7:35 PM on Tue, Feb 10",google_flights,44.0,62.0,70.0,98.0,98.0,NaN,98.0,NaN
1,ATH,CDG,2026-03-28,2026-01-14,73,SKY express,45.0,EUR,0,215,...,"1:15 PM on Sat, Mar 28",google_flights,45.0,51.0,52.0,NaN,61.0,NaN,52.0,52.0
3,ATH,CDG,2026-02-18,2026-01-03,46,SKY express,45.0,EUR,0,215,...,"1:15 PM on Wed, Feb 18",google_flights,45.0,45.0,63.0,63.0,NaN,63.0,63.0,NaN
4,ATH,CDG,2026-02-18,2026-01-14,35,SKY express,45.0,EUR,0,215,...,"1:15 PM on Wed, Feb 18",google_flights,45.0,77.0,77.0,NaN,77.0,NaN,52.0,77.0
5,ATH,CDG,2026-03-31,2026-01-03,87,SKY express,45.0,EUR,0,215,...,"1:15 PM on Tue, Mar 31",google_flights,45.0,51.0,51.0,51.0,NaN,51.0,51.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56867,FCO,CDG,2026-05-17,2026-01-13,124,ITA,388.0,EUR,0,130,...,"10:45 AM on Sun, May 17",google_flights,388.0,388.0,388.0,388.0,NaN,388.0,NaN,388.0
56876,CDG,ATH,2026-02-21,2026-01-18,34,SKY express,416.0,EUR,0,190,...,"6:15 PM on Sat, Feb 21",google_flights,416.0,NaN,416.0,446.0,NaN,446.0,446.0,446.0
56878,CDG,ATH,2026-02-21,2026-01-20,32,SKY express,416.0,EUR,0,190,...,"6:15 PM on Sat, Feb 21",google_flights,416.0,446.0,NaN,446.0,446.0,446.0,446.0,NaN
56885,CDG,ATH,2026-02-15,2026-01-13,33,SKY express,446.0,EUR,0,190,...,"6:15 PM on Sun, Feb 15",google_flights,446.0,367.0,367.0,367.0,NaN,367.0,NaN,367.0
56892,CDG,ATH,2026-02-21,2026-01-23,29,SKY express,446.0,EUR,0,190,...,"6:15 PM on Sat, Feb 21",google_flights,446.0,446.0,446.0,446.0,NaN,NaN,446.0,446.0

In [28]:
fill_cols = ['todays_price', 'price_1', 'price_2', 'price_3', 'price_4', 'price_5', 'price_6', 'price_7']

# 2. Apply Forward Fill row-by-row (axis=1)
# This checks each row. If it finds a NaN, it looks to the left and takes that value.
df_clean[fill_cols] = df_clean[fill_cols].ffill(axis=1)

In [29]:
df_clean

,origin,destination,departure_date,query_date,days_before_departure,airline,price,currency,stops,flight_duration,...,arrival_time,source,todays_price,price_1,price_2,price_3,price_4,price_5,price_6,price_7
0,ATH,CDG,2026-02-10,2026-01-12,29,Aegean,44.0,EUR,0,215,...,"7:35 PM on Tue, Feb 10",google_flights,44.0,62.0,70.0,98.0,98.0,98.0,98.0,98.0
1,ATH,CDG,2026-03-28,2026-01-14,73,SKY express,45.0,EUR,0,215,...,"1:15 PM on Sat, Mar 28",google_flights,45.0,51.0,52.0,52.0,61.0,61.0,52.0,52.0
3,ATH,CDG,2026-02-18,2026-01-03,46,SKY express,45.0,EUR,0,215,...,"1:15 PM on Wed, Feb 18",google_flights,45.0,45.0,63.0,63.0,63.0,63.0,63.0,63.0
4,ATH,CDG,2026-02-18,2026-01-14,35,SKY express,45.0,EUR,0,215,...,"1:15 PM on Wed, Feb 18",google_flights,45.0,77.0,77.0,77.0,77.0,77.0,52.0,77.0
5,ATH,CDG,2026-03-31,2026-01-03,87,SKY express,45.0,EUR,0,215,...,"1:15 PM on Tue, Mar 31",google_flights,45.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56867,FCO,CDG,2026-05-17,2026-01-13,124,ITA,388.0,EUR,0,130,...,"10:45 AM on Sun, May 17",google_flights,388.0,388.0,388.0,388.0,388.0,388.0,388.0,388.0
56876,CDG,ATH,2026-02-21,2026-01-18,34,SKY express,416.0,EUR,0,190,...,"6:15 PM on Sat, Feb 21",google_flights,416.0,416.0,416.0,446.0,446.0,446.0,446.0,446.0
56878,CDG,ATH,2026-02-21,2026-01-20,32,SKY express,416.0,EUR,0,190,...,"6:15 PM on Sat, Feb 21",google_flights,416.0,446.0,446.0,446.0,446.0,446.0,446.0,446.0
56885,CDG,ATH,2026-02-15,2026-01-13,33,SKY express,446.0,EUR,0,190,...,"6:15 PM on Sun, Feb 15",google_flights,446.0,367.0,367.0,367.0,367.0,367.0,367.0,367.0
56892,CDG,ATH,2026-02-21,2026-01-23,29,SKY express,446.0,EUR,0,190,...,"6:15 PM on Sat, Feb 21",google_flights,446.0,446.0,446.0,446.0,446.0,446.0,446.0,446.0